# データを成形し、BigQueryにアップロードします。

In [152]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [153]:
select_columns=["日付", "取引数", "売上高(税抜)", "現計(取引数)", "現計(税抜金額)", "信計(取引数)",
                "信計(取引数内訳)", "信計(税抜金額)", "信計(税抜金額内訳)", "客数", "客単価(税抜)"]
day_of_week_ja=["月", "火", "水", "木", "金", "土", "日", "(", ")"]

In [157]:
def molding_dataset(df, select_columns):
    df_select = df[select_columns]
    df_rename = df_select.rename(columns={'日付': 'date',
                          '取引数': 'transactions',
                          '売上高(税抜)': 'sales',
                          '現計(取引数)': 'sales_transactions',
                          '現計(税抜金額)': 'cash_sales',
                          '信計(取引数)': 'cashless_transactions',
                          '信計(取引数内訳)': 'cashless_kind',
                          '信計(税抜金額)': 'cashless_sales',
                          '信計(税抜金額内訳)': 'cashless_sales_kind',
                          '客数': 'customers',
                          '客単価(税抜)': 'Customer_unit_price',})
    
    # Delete the total value in the last line
    return df_rename[:-1]

def reshape_date(df, day_of_week_ja, datetime):
    for week_ja in day_of_week_ja:
        df['date'] = df['date'].str.replace(week_ja, '', regex=True)
    
    df['date'] = str(datetime.strftime('%Y')) + '/' + df['date'].astype(str)

    return df

def read_csv(select_columns, day_of_week_ja):
    csvfile_path = "../data/sales/bregister_daily_{}.csv"
    
    old_datetime = datetime(2021, 1, 1)
    today_datetime = datetime.today().replace(hour=0,minute=0,second=0,microsecond=0)

    month_diff = (today_datetime.month - old_datetime.month) + (today_datetime.year - old_datetime.year) * 12
    if today_datetime.day - old_datetime.day < 0:
        month_diff -= 1
    
    for i in range(0, month_diff):
        df = pd.read_csv(csvfile_path.format(str(old_datetime.strftime('%Y%m'))), encoding='shift_jis')
        df_m = molding_dataset(df, select_columns)
        df_r = reshape_date(df_m, day_of_week_ja, old_datetime)
        
        if not i == 0:
            df_csv = pd.concat([df_csv, df_r], axis=0, ignore_index=True)
        else:
            df_csv = df_r
            
        old_datetime += relativedelta(months=1)
    
    # if store is regular holiday store_horiday colums status 1
    df_csv['store_horiday'] = (df_csv['transactions'] == 0) * 1
        
    return df_csv

In [158]:
df_data = read_csv(select_columns, day_of_week_ja)

In [159]:
df_data.to_csv("../data/reshape_dataset/sales_data.csv", index = False)

In [148]:
df_data

,date,transactions,sales,sales_transactions,cash_sales,cashless_transactions,cashless_kind,cashless_sales,cashless_sales_kind,customers,Customer_unit_price,store_horiday
0,2021/01/1,70,58340,70,58340,0,NaN,0,NaN,70,833,0
1,2021/01/2,80,73298,80,73298,0,NaN,0,NaN,80,916,0
2,2021/01/3,90,85452,90,85452,0,NaN,0,NaN,90,949,0
3,2021/01/4,77,63312,77,63312,0,NaN,0,NaN,77,822,0
4,2021/01/5,85,72448,85,72448,0,NaN,0,NaN,85,852,0
...,...,...,...,...,...,...,...,...,...,...,...,...
694,2022/11/26,88,113041,36,40481,52,iD(7)/交通系IC(21)/JCB(4)/Master(20),72560,iD(6628)/交通系IC(24978)/JCB(3325)/Master(37629),88,1285,0
695,2022/11/27,93,109882,53,52809,40,JCB(8)/Master(15)/交通系IC(12)/選択なし(2)/iD(3),57074,JCB(12818)/Master(23053)/交通系IC(11903)/選択なし(458...,93,1182,0
696,2022/11/28,0,0,0,0,0,NaN,0,NaN,0,0,1
697,2022/11/29,50,47925,30,25178,20,交通系IC(5)/Master(9)/選択なし(1)/JCB(4)/QUICPay(1),22747,交通系IC(3725)/Master(12931)/選択なし(369)/JCB(3682)/...,50,959,0
698,2022/11/30,41,35841,20,19866,21,Master(9)/交通系IC(7)/QUICPay(1)/WAON(1)/JCB(2)/i...,15976,Master(7791)/交通系IC(4293)/QUICPay(523)/WAON(143...,41,874,0